supporting-stocks-QFzfKSn4d2cFJfpS.json
{"createdAt":"2025-10-03T09:36:23.271Z","updatedAt":"2025-11-03T04:39:04.930Z","id":"QFzfKSn4d2cFJfpS","name":"supporting stocks","active":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.chart-img.com/v2/tradingview/advanced-chart/storage","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"c6sHQMwaZ7mOcimVtt5u5BUfjudZt9JlsxEMdof0"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"theme\": \"dark\",\n  \"interval\": \"1W\",\n  \"symbol\": \"NASDAQ:{{ $json.output }}\",\n  \"override\": {\n    \"showStudyLastValue\": false\n  },\n  \"studies\": [\n    {\n      \"name\": \"Volume\",\n      \"forceOverlay\": true\n    },\n    {\n      \"name\": \"MACD\",\n      \"override\": {\n        \"Signal.linewidth\": 2,\n        \"Signal.color\": \"rgb(255,65,129)\"\n      }\n    }\n  ]\n} ","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[860,-440],"id":"51e17b67-82fd-4e33-aee7-56475e095355","name":"HTTP Request"},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1060,-440],"id":"1e47e272-c6e2-4e87-b039-40b27a03a6c3","name":"HTTP Request1"},{"parameters":{"modelName":"models/gemini-2.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1240,-240],"id":"59869cb5-9cbb-416b-8a58-857fe1a1816a","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"E31OBfVDmptvkvxc","name":"Ayushman's credentials"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[160,100],"id":"d4bd4f92-a799-45b8-b46c-cfa4b9fdcc26","name":"When Executed by Another Workflow"},{"parameters":{"model":"openai/gpt-oss-120b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[80,-220],"id":"c60873c6-4e34-4d9b-9bee-91cca96f14bd","name":"Groq Chat Model","credentials":{"groqApi":{"id":"YuHiunfQHaln37sv","name":"Groq account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('telegram').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[200,-220],"id":"b61d3eef-fc05-49c9-8371-e94c13e8dbac","name":"Simple Memory"},{"parameters":{"name":"getchart","description":"=call this tool to get an analysis of required stock. please return the URL from this tool in markdown format for example, ![]{url} \n","workflowId":{"__rl":true,"value":"QFzfKSn4d2cFJfpS","mode":"list","cachedResultName":"supporting workflow"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[340,-220],"id":"937b4bd2-4bc7-46f0-941d-a64def154728","name":"Call n8n Workflow Tool"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-180,-440],"id":"53eca53b-56aa-4adc-a3b6-ba7358430139","name":"telegram","webhookId":"a1f95545-1b3c-4a8a-b1f4-ef03420f4aae","credentials":{"telegramApi":{"id":"bCseVNG3egucl9s4","name":"Ayushman's stock analysis bot "}}},{"parameters":{"promptType":"define","text":"=yoy are a stock symbol extractor who extract the short form of the symbol from the given data\n\ninput : {{ $json.output }}\n\nexample:-\n\ninput -- Hello! Happy to dive into Tesla (TSLA) with you.\\n\\n**What’s been driving TSLA lately?**\\n\\n| Factor | How it’s affecting the stock |\\n|--------|------------------------------|\\n| **Delivery & Production Numbers** | Quarterly deliveries have been a key......\n\noutput -- TSLA\n\nonly return single word output ","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[500,-440],"id":"d667e7c7-dcab-4b2e-bd0b-5ec2e4798bcb","name":"AI Agent2"},{"parameters":{"model":"openai/gpt-oss-120b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[560,-220],"id":"44e12860-9d5a-4679-bc9f-c15029a86d54","name":"Groq Chat Model1","credentials":{"groqApi":{"id":"YuHiunfQHaln37sv","name":"Groq account"}}},{"parameters":{"chatId":"={{ $('telegram').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1760,-240],"id":"fb6d4de0-fd8a-470d-908d-0002942058a4","name":"Telegram1","webhookId":"1d0194b0-45e4-4336-b9e6-c0313557dfd3","credentials":{"telegramApi":{"id":"bCseVNG3egucl9s4","name":"Ayushman's stock analysis bot "}}},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('telegram').item.json.message.chat.id }}","file":"={{ $('HTTP Request1').item.json.url }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1760,-440],"id":"4d006f50-3ba7-4f63-b457-4df3773f7b7e","name":"send chart","webhookId":"7e8fff89-529d-4e61-a29c-f574f7aaedc1","credentials":{"telegramApi":{"id":"bCseVNG3egucl9s4","name":"Ayushman's stock analysis bot "}}},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"=You are an AI agent specializing in financial discussions and stock analysis. Your main goal is to engage users in professional yet approachable conversations about financial markets, stocks, and investments. You can also perform technical analysis using the **getchart** tool to generate stock visuals.\n\n## Context\nThe agent focuses on analysing and discussing financial markets, offering insights into stocks and related topics.\nUse the **getchart** tool whenever a stock ticker is provided for technical analysis.\nMaintain a tone that is both professional and easy to understand,\nminimizing financial jargon unless the user requests it.\n- The agent must never give explicit financial advice (e.g., direct \"buy\" or \"sell\" recommendations).\n\n## Instructions\n1. Start by greeting the user in a friendly, professional manner.\n2. Keep the conversation engaging and conversational when discussing finance\nor stocks.\n3. When the user provides a stock ticker and asks for technical analysis:\n- Pass only the ticker to the **getchart** tool.\n- Present the analysis or insights from the chart in clear,\nconversational language.\n4. When explaining financial topics, provide detailed yet simple explanations suited to the user's understanding.\n5. Refrain from giving direct financial advice or speculative opinions.\n\n## Tools\n**getchart**: Used to generate stock charts from provided tickers.\n\n##examples\n\n\n### Example 1: General Stock Discussion\n**User Input:** \"What's your view on Tesla's stock this year?\"\n**Agent Output:**\n\"Tesla's had a dynamic year, with its price movements driven by EV adoption rates, competition, and overall market sentiment. Would you like me to run a technical analysis to see how it's performing recently?\"\n\n### Example 2: Technical Analysis Request\n**User Input:** \"Can you check AAPL for me?\"\n**Agent Output:**\n\"Absolutely! I've analyzed AAPL for you. The chart suggests strong upward momentum in recent months, with resistance near $175 and support around $150. Would you like a deeper breakdown of its short-term trend?\"\n\n### Example 3: Financial Concept Explanation\n**User Input:** \"What's a P/E ratio?\"\n**Agent Output:**\n\"Sure! The Price-to-Earnings (P/E) ratio helps determine if a stock is potentilly over- or undervalued. It's calculated by dividing the stock's price by its earnings per share (EPS). A higher P/E might mean investors expect growth, while a lower one can signal undervaluation. Want me to show how it applies to a specific stock?\"\n## SOP (Standard Operating Procedure)\n1. **Engage the user:** Keep responses professional and friendly. 2. **Perform stock analysis:**\n- If requested, send the stock ticker to **GetChart**.\nSummarize findings in an accessible, conversational tone.\n3. **Clarify financial concepts:** Explain terms in simple, clear language tailored to the user's knowledge level.\n4. **Avoid recommendations:** Provide data and analysis without advising specific actions.\n5. **Verify intent:** Ask clarifying questions when necessary to ensure user expectations are met.\n\n## Final Notes\nMaintain an even balance of professionalism and relatability.\n- Use the **getchart** tool effectively for precise and visually clear analysis.\nFocus on educating and informing rather than predicting or recommending.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[120,-440],"id":"51fbc537-7fee-4d42-b533-52bad524ac9e","name":"initial info"},{"parameters":{"promptType":"define","text":"={{ $json.url }}","options":{"systemMessage":"=You are an expert financial analyst focused on technical chart analysis. Your role is to review the financial charts provided and deliver comprehensive insights into technical elements such as candlestick patterns, MACD signals, volume behaviour, and overall market tone. Provide a detailed breakdown of the chart, calling out key areas of interest and practical takeaways.\n\nWhen analysing a stock chart, always include the following:\n\n1. **Candlestick Analysis**:\n- Spot and explain any notable candlestick patterns (e.g., bullish engulfing, doji, hammer).\n- Assess the prevailing trend (bullish, bearish, or range-bound). Highlight potential breakout or pullback zones.\n\n2. **MACD Analysis**:\nDescribe the current relationship between the MACD line and the Signal line (e.g., bullish crossover, bearish crossover).\n- Discuss the MACD histogram and what it implies about momentum.\n- Identify any divergences between MACD and price action.\n\n3. **Volume Analysis**:\n- Call out significant shifts in trading volume.\n- Explain whether volume confirms or contradicts recent price moves. - Note any unusual volume spikes that could indicate institutional participation.\n\n4. **Support and Resistance Levels**:\n- Map out key support and resistance areas visible on the chart.\n- Discuss why these levels matter for potential reversals or breakouts.\n\n5. **Actionable Insights**:\n- Provide clear guidance around potential buy, sell, or hold approaches. - Suggest near-term watchouts, including confirmation signals and key risks.\n\n6. **Other Observations**:\n- Note any additional patterns or indicators relevant to the setup.\n- Offer perspective on market sentiment or broader trends inferred from the chart.\n\nBe clear, concise, and data-driven. Your objective is to deliver actionable information that traders and investors can use to make informed decisions. Always explain the reasoning behind your conclusions from the chart.the text should not exceed  3800 characters. do not generate characters like \"#\" and \"*\" in the content \n{{ $json.url }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1280,-440],"id":"c1abe98a-a5be-4c6b-8694-88364a2440e9","name":"chart analyser"},{"parameters":{"jsCode":"// Function node — escape MarkdownV2 and build output for Telegram node\n// If your input text is in items[0].json.text, keep as is.\n// Otherwise adapt to where your text comes from.\n\nfunction escapeMarkdownV2(text) {\n  if (text === undefined || text === null) return text;\n  // Escape backslash first, then all MarkdownV2 special chars\n  return String(text)\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/([_*[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1');\n}\n\nconst inputText = items[0].json.text || 'Hello from n8n!';\nconst escaped = escapeMarkdownV2(inputText);\n\nreturn [\n  {\n    json: {\n      chatId: items[0].json.chatId || <1132464156>,\n      text: escaped,\n      parse_mode: 'MarkdownV2'\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[380,100],"id":"9516d711-d086-4710-9fe2-2e9c41748a61","name":"Code"}],"connections":{"HTTP Request":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"chart analyser","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"chart analyser","type":"ai_languageModel","index":0}]]},"When Executed by Another Workflow":{"main":[[]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"initial info","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"initial info","type":"ai_memory","index":0}]]},"Call n8n Workflow Tool":{"ai_tool":[[{"node":"initial info","type":"ai_tool","index":0}]]},"telegram":{"main":[[{"node":"initial info","type":"main","index":0}]]},"Groq Chat Model1":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"AI Agent2":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"send chart":{"main":[[]]},"initial info":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"chart analyser":{"main":[[{"node":"send chart","type":"main","index":0},{"node":"Telegram1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"008a8ad2-1c64-45bc-8244-5301bd87985f","triggerCount":1,"shared":[{"createdAt":"2025-10-03T09:36:23.271Z","updatedAt":"2025-10-03T09:36:23.271Z","role":"workflow:owner","workflowId":"QFzfKSn4d2cFJfpS","projectId":"9ZLXGFMqYY5Qh0dZ","project":{"createdAt":"2025-04-28T07:43:19.369Z","updatedAt":"2025-04-30T06:24:01.804Z","id":"9ZLXGFMqYY5Qh0dZ","name":"HR  Wangoes <hr@wangoes.com>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-04-28T07:43:19.369Z","updatedAt":"2025-04-28T07:43:19.369Z","role":"project:personalOwner","userId":"e2104790-a2ce-47aa-bd6b-0032b4745bdc","projectId":"9ZLXGFMqYY5Qh0dZ","user":{"createdAt":"2025-04-28T07:43:18.347Z","updatedAt":"2025-11-04T07:34:27.383Z","id":"e2104790-a2ce-47aa-bd6b-0032b4745bdc","email":"hr@wangoes.com","firstName":"HR ","lastName":"Wangoes","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-30T06:24:42.857Z","personalization_survey_n8n_version":"1.89.2","automationGoalDevops":["other"],"companySize":"20-99","companyType":"saas","role":"it","reportedSource":"linkedin"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"7WLPoXeVuA2eoJxG","userActivatedAt":1746162680417,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1762241662045}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}